<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/upload.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slash Beats</title>
</head>
<body>
     <!-------menu----->
    <div class="phone">
        <a href="" class="a">Slash Beats</a>
    </div>
    <div class="laptop">
        <div class="one">
            <a href="" class="a">Slash Beats</a>
        </div>
        <div class="box">
            <a href="/" class="amenu">Home</a>
            <a href="/upload" class="amenu">Upload</a>
            <a href="/stream" class="amenu">Stream</a>
        </div>
    </div>
    <!-------body----->
    {{{body}}}
    <div class="phone">

    </div>
    <div class="laptop">

    </div>
</body>
</html>