<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slash Beats || Stream</title>   
</head>
<body>
     <!-------menu----->
    <div class="phone">
        <a href="" class="a">Slash Beats</a>
    </div>
    <div class="laptop">
        <div class="one">
            <a href="" class="a">Slash Beats</a>
        </div>
        <div class="box">
            <a href="../index.html" class="amenu">Home</a>
            <a href="https://mthobisi-za.github.io/Mtho-landing-page/" class="amenu">About Me</a>
            <a href="./upload.html" class="amenu">Upload</a>
            <a href="#" class="amenu">Download</a>
        </div>
    </div>
    <!-------body----->
    <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Age</td>
            <td>Comment</td>
          </tr>
        </thead>
        <tbody data-sheetdb-url="https://sheetdb.io/api/v1/3i013aiywwkq4">
          <tr>
            <td>{{Tittle}}</td>
            <td>{{Description}}</td>
            <td>{{Rate}}</td>
            <td>{{contact}}</td>
          </tr>
        </tbody>
      </table>
      <script src="https://sheetdb.io/handlebars.js"></script>
</body>
</html>